* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
}
html{
    background-color: rgba(122, 191, 191, .5);
}
body {
    display: grid;
    max-width: 414px;
    grid-template-columns: 1fr;
    background-color: #f2f2f2 ;
}

header {
    position: relative;
    width: 100%;
    height: 250px;
    top: 150px;
    padding-top: 20px;
    margin-bottom: 20px;
}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
}

main {
    width: 414px;
    justify-self: center;
    background-color: #f2f2f2
}
main img{
    margin-top: 5px;
    width: 414px;

}
#search{
    display: flex;
    position: absolute;
    top: 125px;
    right: 425px;
}
#search h2{
    visibility: hidden;
}
#search svg{
    background-color: #eb5428;
}
aside {
    width: 414px;
    justify-self: center;
    background-color: #7abfbf;
}


#main{
    position: absolute;
    display: flex;
    width: 414px;
    height: 100px;;
    top: 0;
}


#mainNav{
    width: 100%;
    position: relative;
    /* left: -50px; */
}
#home{
    background-color: #eb5428;
    width: 150%;
    position: relative;
}
#avatar{
    width: 100%;
    position: relative;
    /* left: 50px; */
}
#menu{
    position: relative;
    width:0%;
    max-width: 414px;;
    top: 0px;
    background-color: ;
}
#dropdownMenu{
    list-style: none;
    position: absolute;
    top: 100%;
    left: -400px;
    text-align: center;
    display: none;
    z-index: 3;
}
#dropdown:checked ~ #dropdownMenu {
    display: block;
}

#main #menu label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    left: -255px;
    top: -25px;
    position: relative;
    user-select: none;
    z-index: 2;
}
#main #menu li a {
    display: block;
    color:white;
    text-decoration: none;
    padding: 20px 20px;
    font-weight:lighter;
}
main article p{
    margin-top: 10px;
    text-align: left;
    
}

main article{
    display: block;
    max-width: 414px;
    padding: 0px 10px 10px 0px;
}

main h2{
    margin-top: 10px;
}

main ul{
    list-style: none;
    text-align: left;
}

main ul~ul{
    list-style:disc;
}

main ol{
    text-align: left;
}

#dropdown {
    visibility:hidden;
    position: relative;
    left: -400px;
    top: 30px;
    height: 70px;
}

footer {
    width: 100%;
}

input[type="text"]{
    width: 300px;
    border: 2px #eb5428 solid;
}
